li {
  list-style: none;
}

body {
  text-align: center;
  margin-bottom: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 2px;
  background-color: #222;
  color: #FFF;
}

* {
  margin-bottom: 50px;
}

.results {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 190px;
}

.resultsTow {
  margin: 0 auto;
  max-width: 335px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

button {
  padding: 15px;
  background-color: #c3c3c3;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: .5s;
}

button:hover {
  background-color: #FFF;
  color: #c3c;
}

p {
  font-size: 15px;
  margin-bottom: 2px;
}

textarea, input {
  margin-top: 0px !important;
  margin-bottom: 0px;
}

textarea {
  padding: 25px;
}